@model IEnumerable<Expenses_Manager.Models.Util.LineData>

@{
    ViewData["Title"] = "Menu Principal";
}

<body>
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="PaymentMethods" asp-action="Index">Métodos de Pagamento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="Index">Faturas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Minha Conta</a>
                </li class="nav-item">
                <li>
                    <partial name="_LoginPartial" />
                </li>
            </ul>
            <div>
                <ejs-chart id="container" title="despezas - mês">
                    <e-chart-primaryxaxis 
                    valueType="DateTime" 
                    intervalType=Months
                    labelFormat="m"
                    edgeLabelPlacement=Shift>
                    </e-chart-primaryxaxis>

                    <e-series-collection>
                         <e-series 
                         dataSource=@Model
                         name="Total de despezas por mês" 
                         xName="xValue"
                         width="2"
                         opacity="1"
                         yName="yValue"
                         type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line"></e-series>
                    </e-series-collection>
                </ejs-chart>
            </div>
        </div>
    </div>
</body>