@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dados Pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Sua conta contém seus dados pessoais que foram fornecidos para nós. Esta página permite apagar ou baixar seus dados para o dispositivo</p>
        <p>
            <strong>O fechamento desta conta irá resultar na perda de todos os seus dados pessoais e não há como recuperá-los depois.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Baixar Dados Pessoais</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Apagar Minha Conta</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
